.homepageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .homepageMain {
    margin-left: 20%;
  }
}

.homepageMain h1 {
  text-decoration: none;
}

.homepageMain h3 {
  text-decoration: none;
}
