.logsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  cursor: default;
}

@media (min-width: 768px) {
  .logsList {
    margin-top: 50px;
    width: 80%;
    margin: 50px auto;
  }
}

.logsList p {
  text-align: center;
}

.logsList th {
  cursor: pointer;
}

.logsList th:hover {
  color: #0a58ca;
  text-decoration: underline;
}
