.transferModal {
  color: white;
  cursor: default;
}

.modalHeader {
  padding: 20px !important;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: white;
}

.modalBody {
  text-align: center;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transferName {
  display: flex;
  justify-content: space-around;
}

.transferBeneficiary {
  text-decoration: underline;
  font-weight: bold;
}

.modalBody label {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-right: 20px;
}

.buttonsContainer {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.modalFooter {
  background-color: rgb(31, 31, 31);
}
